extends layout

block title
 | - Login

block content
 h2.page-header Login
 p Please enter your login info to enter the system

 form(method='post', action='/users/login')
  .form-group
   label Username
   input.form-control(name='username', type='text', placeholder='Enter your username')
  .form-group
   label Password
   input.form-control(name='password', type='password', placeholder='Enter your password')
  input.btn.btn-primary(type='submit', name='submit', value='Login')